.block {
  position: relative;
  border: 3px solid #383838;
}

.title {
  position: relative;
  transform: translateY(-50%);
  width: 100%;
  top: 0;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  background: inherit;
}

.titleBackground {
  display: inline-block;
  background: #e9e9e9;
  padding: 8px 15px;
}
