.mnformControl {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.mnlabel {
  font-size: 14px;
  font-weight: bold;
}

.mninput {
  width: 100%;
  padding: 8px 15px;
  background: transparent;
  border: none;
  border-bottom: 1.5px solid #383838;
  font-size: 16px;
  outline: none;
}

.required {
  &::after {
    content: ' *';
    color: #d7575b;
  }
}

.error {
  font-size: 14px;
  margin-top: 3px;
  color: #d7575b;
}

.noMargin {
  margin: 0!important;
}