.buttonWrapper {
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.button {
  cursor: pointer;
  padding: 8px 25px;
  border: none;
  background: #383838;
  color: #f3f3f3;

  &:hover {
    background: lighten($color: #383838, $amount: 5);
  }
}

.button_plain {
  background: transparent;
  border: none;
  padding: 0;
  color: #383838;

  &:hover {
    background: transparent;
    text-decoration: underline;
  }
}