.formContainer {
  position: relative;
  width: 100%;
  padding: 50px 30px 25px;
}

.smallFormContainer {
  max-width: 340px;
}

.bordered {
  border: 1.5px solid #383838;
}

.centered {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20vh;
  margin-bottom: 40px;
}

.title {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  left: 50%;
  font-weight: bold;
  font-size: 22px;
  transform: translate(-50%, -50%);
}

.titleBackground {
  display: inline-block;
  background: #f3f3f3;
  padding: 8px 15px;
}

.error {
  margin-top: 15px;
  color: #d7575b;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 570px) {
  .formContainer {
    padding: 25px 15px 25px;
    flex-direction: column;
  }
}
