.userContacts {
  line-height: 1.8;
  margin-top: 40px;
}

.title {
}

.info {
  margin-bottom: 20px;
}

.borderedBlock {
  padding-bottom: 30px;
}

.icons {
  margin-top: 15px;
}

.icon {
  &:not(:last-child) {
    margin-right: 15px;
  }
}
